/*
Author(s): Djamel Almabouada, Derek Petersen, Geromy Cunningham
Purpose: Class for Styling the Webpage 
*/

.App {
  text-align: center;
  padding-bottom: 3px;
  background-color: rgba(0, 0, 0, 0.315);
  min-height: 100vh;
}

body, html {
  margin: 0;
  padding: 0;
  color: #fff;
}

.navbar {
  display: flex;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  align-items: center;
  background-color: #CFB991;
  color: #000;
  height: 100px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px; /* Set a fixed height for the image */
  width: auto; /* Maintain aspect ratio */
  float: left;
}

.logo-text {
  text-decoration: none;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial;
  padding-left: 10px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.nav-links {
  justify-self: center;
  display: flex;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  padding: 0;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.nav-links li {
  margin: 0 25px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.nav-links a:hover {
  color: #fff;
  transition: color 0.3s ease;
}


.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary-button {
  background-color: #CFB991; /* Blue */
  color: #000;
}

.primary-button:hover {
  background-color: #ebdabb; /* Darker Blue */
}

.secondary-button {
  background-color: #000; /* Gray */
  color: #CFB991;
}

.secondary-button:hover {
  background-color: #313131; /* Darker Gray */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.upload-package-page {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #CFB991;
  border-radius: 5px;
  background-color: #CFB991; /*f9f9f9*/
  color: #000;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.downloaded-data {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.downloaded-data h3 {
  margin-bottom: 15px;
}

.data-item {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.data-item h4 {
  margin: 0;
  color: #007bff;
}

.data-item p {
  margin: 5px 0;
  line-height: 1.5;
}

.error-message {
  color: rgb(156, 0, 0);
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #5c5c5c;
}

.search-component {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #CFB991;
  border-radius: 5px;
  background-color: #CFB991;
  color: #000;
}

.search-component .form-group {
  margin-bottom: 15px;
}

.search-component label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.search-component input {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-component button {
  padding: 10px 20px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-component button:hover {
  background-color: #313131;
}

.search-result {
  margin-top: 15px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
