.App {
  text-align: center;
}

.navbar {
  background-color: #c26161; /* Dark background for the navbar */
  padding: 5px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px; /* Set a fixed height for the image */
  width: auto;  /* Maintain aspect ratio */
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary-button {
  background-color: #007bff; /* Blue */
  color: white;
}

.primary-button:hover {
  background-color: #0056b3; /* Darker Blue */
}

.secondary-button {
  background-color: #6c757d; /* Gray */
  color: white;
}

.secondary-button:hover {
  background-color: #5a6268; /* Darker Gray */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.upload-package-page {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.search-component {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.search-component .form-group {
  margin-bottom: 15px;
}

.search-component label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.search-component input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-component button {
  padding: 10px 20px;
  background-color: #51657b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-component button:hover {
  background-color: #195b9d;
}

.search-result {
  margin-top: 15px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */